.neon__rosa {
  color: rgb(182, 135, 164);
  text-shadow: 0 0 30px #fff;
}

.neon__azul {
  text-shadow: 0 0 5px rgba(0, 178, 255, 1), 0 0 10px rgba(0, 178, 255, 1),
    0 0 20px rgba(0, 178, 255, 1), 0 0 40px rgba(38, 104, 127, 1),
    0 0 80px rgba(38, 104, 127, 1), 0 0 90px rgba(38, 104, 127, 1),
    0 0 100px rgba(38, 104, 127, 1), 0 0 140px rgba(38, 104, 127, 1),
    0 0 180px rgba(38, 104, 127, 1);
}

.neon__amarillo {
  color: #ecea76;
  text-shadow: 0 0 7px #cbd175, 0 0 10px #cbd175, 0 0 21px rgb(164, 211, 89),
    0 0 42px #d3d01c, 0 0 82px #d3d01c, 0 0 92px #d3d01c, 0 0 102px #d3d01c,
    0 0 151px #d3d01c;
}

.logo__nav {
  width: 10%;
}

.nav__color {
  background-color: #010b40;
}

.display__main {
  background-image: url(https://cdn.pixabay.com/photo/2021/04/11/16/50/logo-6170298_960_720.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
